body {
  background-image: url("https://i.imgur.com/lDDB0R0.png");
  background-size: cover;
  font-family: fantasy;
}
.nav{
  overflow: hidden;
  margin-top: 10px;
	border:1px solid none;
  float:right;
}
.nav ul li{
  width:120px;
	margin: 10px auto;
  float:left;
  text-align: center;
}
.nav ul li a{
  text-decoration: none;
	color:White;
}
.nav ul li:hover{
  padding: 6px;
  background-color:pink;
  color:black;
}
#me {
  opacity: 0.7;
  padding-top: 90px;
  padding-bottom:90px;
  margin:90px;
  text-align:center;
  width:290px;
  height:auto;
  background-color: pink;
}
.column {
	float: left;
  }
  .column.side{
	  width: 33%;
  }
  .column.middle{
	  width: 34%;
  }
  @media screen and (max-width: 768px) {
	.column.side, .column.middle {
	  width: 100%;
	}
  }
